# OSX
.DS_Store

# Eclipse
.cproject
.project
.settings/

# CMake

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing/
Debug/

# Project files
c-examples/c-examples
vdm/generated
generator-test/generator-test
