[submodule "c/third_party/googletest"]
	path = c/third_party/googletest
	url = https://github.com/google/googletest.git
  depth = 1
  ignore = dirty
[submodule "cases/single-watertank"]
	path = cases/single-watertank
	url = https://github.com/INTO-CPS-Association/example-single_watertank
[submodule "cases/three-tank"]
	path = cases/three-tank
	url = https://github.com/into-cps-association/example-three_tank_watertank
[submodule "cases/fcu"]
	path = cases/fcu
	url = https://github.com/INTO-CPS-Association/example-fcu
[submodule "cases/line-follower-robot"]
	path = cases/line-follower-robot
	url = https://github.com/INTO-CPS-Association/example-line_follower_robot
