# OSX
.DS_Store

# Eclipse
.cproject
.project
.settings/

# CMake

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing/


# Project files
c-examples/c-examples
