[submodule "c/third_party/googletest"]
	path = c/third_party/googletest
	url = https://github.com/google/googletest.git
  depth = 1
  ignore = dirty
[submodule "cases/single-watertank"]
	path = cases/single-watertank
	url = https://github.com/into-cps/case-study_single_watertank
[submodule "cases/three-tank"]
	path = cases/three-tank
	url = https://github.com/into-cps/case-study_three_tank
[submodule "cases/fcu"]
	path = cases/fcu
	url = https://github.com/into-cps/case-study_fcu
[submodule "cases/line-follower-robot"]
	path = cases/line-follower-robot
	url = https://github.com/into-cps/case-study_line_follower_robot
