#set ( $seqsize = $node.getMembers().size() )
#if ($CFormat.isStringType($node.getType()))
$CFormat.buildString($node.getMembers())
#else
newSeqVar(${seqsize}, #{if}($seqsize == 0)NULL#{else}$CFormat.formatArgs($node.getMembers())#end)
#end