$CFormat.formatSource($node)
$CFormat.format($node.getMethodType().getResult()) $node.getName()($CFormat.format($node.getFormalParams()))#if($CFormat.isNull($node.getBody()));
#else
	$CFormat.format($node.getBody())
#end