#set( $final = "")
#if ( $node.getFinal() )
	#set( $final = "const")
#end
##
##
#set( $pattern = $CFormat.format($node.getPattern()) )
##
##$CFormat.formatMetaData($node.getMetaData())##
##
${final} $CFormat.format($node.getType()) $pattern = $CFormat.format($node.getExp())